html *
{
   font-size: 1.5em !important;
   color: #000 !important;
   font-family: Arial !important;
}

#puzzle {
    width: 900px;
    height: 900px;

}

#puzzle input {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-spacing: 0;
    border: 2px darkgrey solid;
}